@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "m6x11plus";
  src: url("/fonts/m6x11plus.ttf") format("truetype");
}

@theme inline {
  --font-game: "m6x11plus", sans-serif;
  --font-lexend: "Lexend", sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-jungle-green-50: #f1f8f5;
  --color-jungle-green-100: #dcefe5;
  --color-jungle-green-200: #bcdecd;
  --color-jungle-green-300: #8fc6af;
  --color-jungle-green-400: #59a487;
  --color-jungle-green-500: #3e8b70;
  --color-jungle-green-600: #2c6f59;
  --color-jungle-green-700: #235949;
  --color-jungle-green-800: #1e473a;
  --color-jungle-green-900: #193b31;
  --color-jungle-green-950: #0d211c;

  --color-balatro-mult: #fe5f55;
  --color-balatro-chips: #009dff;
  --color-balatro-money: #f3b958;
  --color-balatro-attention: #ff9a00;
  --color-balatro-gold: #eac058;
  --color-balatro-black: #374244;
  --color-balatro-light-black: #4f6367;
  --color-balatro-grey: #5f7377;
  --color-balatro-joker: #708b91;
  --color-balatro-tarot: #a782d1;
  --color-balatro-planet: #13afce;
  --color-balatro-spectral: #4584fa;
  --color-balatro-voucher: #fd682b;
  --color-balatro-voucher_badgetag: #ff5611;
  --color-balatro-voucher_badgetag_shadow: #a93202;
  --color-balatro-edition: #4ca893;
  --color-balatro-enhanced: #8389dd;
  --color-balatro-red: #ff4c40;
  --color-balatro-redshadow: #a92b23;
  --color-balatro-blue: #009dff;
  --color-balatro-blueshadow: #005caa;
  --color-balatro-green: #35bd86;
  --color-balatro-greenshadow: #1b7954;
  --color-balatro-purple: #aa5bb5;
  --color-balatro-purpleshadow: #6d3574;
  --color-balatro-orange: #fda200;
  --color-balatro-brown: #d67a5a;
  --color-balatro-shadowbrown: #bf5b48;
  --color-balatro-transparentblack: #00000060;
  --color-balatro-lightgrey: #b9c2d2;
  --color-balatro-lightgreyshadow: #777e89;
  --color-balatro-whiteshadow: #aaaaaa;
  --color-balatro-buttonshadow: #1e2f32;
  --color-balatro-blackshadow: #0b1415;
  --color-balatro-white: #ffffff;
  
  --color-balatro-hearts: #fa2315;
  --color-balatro-clubs: #0081e6;
  --color-balatro-diamonds: #e18400;
  --color-balatro-spades: #3a17b3;

  --color-balatro-common: #0093ff;
  --color-balatro-uncommon: #35bd86;
  --color-balatro-rare: #ff4c40;
  --color-balatro-legendary: #aa5bb5;
  --color-balatro-enhanced-new: #757cdc;
  --color-balatro-edition-new: #fff5ce;
  --color-balatro-dark-edition: #6a6aed;
  --color-balatro-gold-new: #eaba44;
  --color-balatro-default: #3a5055;

  --color-cost-border: #1e292c;
  --color-cost-bg: #2e393d;
  --color-cost-text: #e3af3e;
  --color-cost-shadow: #1c2225;

  --color-joker-primary: #708b91;
  --color-joker-secondary: #cfd8da;
  
  --color-consumable-primary: #13afce;
  --color-consumable-secondary: #b8e7f0;
  
  --color-voucher-primary: #fd682b;
  --color-voucher-secondary: #fed2bf;
  
  --color-deck-primary: #009dff;
  --color-deck-secondary: #b3e1ff;
  
  --color-enhancement-primary: #8389dd;
  --color-enhancement-secondary: #dadcf5;
  
  --color-seal-primary: #aa5bb5;
  --color-seal-secondary: #e6cee9;
  
  --color-edition-primary: #4ca893;
  --color-edition-secondary: #c9e5df;
  
  --color-sound-primary: #ff9a00;
  --color-sound-secondary: #ffe1b3;

  --color-booster-primary: #eac058;
  --color-booster-secondary: #fceecb;
}

:root {
  --radius: 0.625rem;
  
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  
  --primary: #3e8b70;
  --primary-foreground: #f1f8f5;
  
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: #3e8b70;
  
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #3e8b70;
  --sidebar-primary-foreground: #f1f8f5;
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: #3e8b70;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  
  --primary: #3e8b70;
  --primary-foreground: #f1f8f5;
  
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: #3e8b70;
  
  --sidebar: oklch(0.145 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #3e8b70;
  --sidebar-primary-foreground: #f1f8f5;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: #3e8b70;
}

@layer base {
  * {
    @apply outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .text-shadow-pixel {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .text-shadow-cost {
    text-shadow: 0 1px 2px var(--color-cost-shadow);
  }

  .pixelated {
    image-rendering: pixelated;
  }
}